@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:'Rubik', sans-serif; ;
    border: solid 5px rgb(58, 26, 219, 0.2); 
}
html{
    background-color: rgb(244, 210, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    position:fixed; 
    height: 20vh;
    width:50vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
   /* background-color: rgb(249, 237, 220);  */


}
.image{
    display: flex;
   width: 20vw;
   height: auto;
}

button:hover{
    background-color: #2d78f4;
}
.postcard{
   border: solid 5px rgb(58, 26, 219, 0.2);
   background-color: rgb(225, 238, 238, 0.5);
   height: 50vh;
   border-radius: 20px;
   padding: 20px;
   /* margin: 20px; */
   margin-top: 2vh;
   box-shadow: 3px 3px 3px 1px rgb(0 0 0 / 28%);
   list-style:none;
}
li{
    align-items: center;
    justify-content: center;
}